<section class="header">
    <div class="wrapper">
        <p class="header__log-sign">
            <a href="#">
                <span class="log-in">Log in</span>
            </a>
            <a href="#">
                <span class="sign-up">Sign up</span>
            </a>            
        </p>
        <p class="header__logo">
            URLAUBSGLÜCK
        </p>
        <p class="header__slogan">
            <span>Share your</span>
            <span>holiday dreams</span> 
        </p> 
        <p class="header__proposition">
            <span>And find the perfect partner</span>
            <span>to fullfill it</span>
        </p> 
        <a href="#" class="header__button header__button--top">
            Find your holiday partner
        </a>    
</div>    
</section>

