<div class="wrapper--wider">
	<section class="partners">
		<h2 class="partners__header">
		  <span>Meet a partner for your</span>
		  <span>best holiday</span>   	
		</h2>				     
		    <div class="partners__item partners__item--hunter">
			    <figure>
					<img src="img/partners-img1.jpg" alt="portrait of Bradley Hunter">
					<figcaption>
						<header>
							Bradley Hunter
						</header>
							<p>Based in Chicago. I love playing tennis and loud music.
							</p>
					</figcaption>
				</figure>			
			</div>
			<div class="partners__item partners__item--marsha">
				<figure>
					<img src="img/partners-img2.jpg" alt="portrait of Lucas Marsha">
					<figcaption>
						<header>Lucas Marsha</header>
						<p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboard
						</p>
					</figcaption>
				</figure>
			</div>						     
			<div class="partners__item partners__item--walker">
				<figure>
					<img src="img/partners-img3.jpg" alt="portrait of Heather Walker">
					<figcaption>
						<header>Heather Walker</header>
						<p>I'm a happy person that loves cats and climbing on mountains.
                        </p>
					</figcaption>
				</figure>
			</div>
			<div class="partners__item partners__item--hunter-fem">
				<figure>
					<img src="img/partners-img4.jpg" alt="portrait of Bradley Hunter">
					<figcaption>
						<header>Bradley Hunter</header>
						<p>Based in Chicago. I love playing tennis and loud music.
						</p>
					</figcaption>
				</figure>
			</div>		
		<a href="#" class="header__button header__button--partners">
    		See other partners
    	</a> 		
	</section>
</div>