<section class="search">    
	<div class="wrapper--wider">
	    <h2 class="search__header">
            Discover holiday activity ideas
        </h2>
        <p class="search__question">
        	Hi! What are your holiday interests?
        </p>
        <form action="#" method="get">
            <input type="text" class="searchForm" placeholder="Enter your interests">
            <input type="button" value="Search partners" class="buttonSearch  header__button">      
        </form>	
    </div>
</section>

