<section class="sliders">
    <div class="wrapper--wider">
    <section class="how-works">
        <h2 class="how-works__header">How Urlaubsglück works?</h2>
        <ul class="bxslider">
            <li class="bxslider1__item">
                <div class="bxslider__bg bxslider__bg1">
                    <article class="text-block">
                    <a href="#" class="header__button header__button--slider">
                    STEP 1
                    </a>
                    <h3 class="text-block__header">
                        <span>Sed leo enim,</span>
                        <span>condimentum</span>
                    </h3>
                    <p class="text-block__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                </article>
                </div>
            </li>
            <li class="bxslider1__item">
                <div class="bxslider__bg bxslider__bg2">
                    <article class="text-block text-block--step2">
                    <a href="#" class="header__button header__button--slider">
                    STEP 2
                    </a> 
                    <h3 class="text-block__header">
                        <span>Morbi velit risus</span>          
                    </h3>
                    <p class="text-block__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                </article>
                </div>
            </li>
            <li class="bxslider1__item">
                <div class="bxslider__bg bxslider__bg3">
                    <article class="text-block">
                    <a href="#" class="header__button header__button--slider">
                    STEP 3
                    </a>
                    <h3 class="text-block__header">
                        <span>Sed leo enim,</span>
                        <span>condimentum</span>
                    </h3>
                    <p class="text-block__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                </article>
                </div>
            </li>           
        </ul>         
        <ul class="bxslider2">
            <li class="bxslider2__item">
                <div class="bxslider__bg bxslider__bg2">
                    <article class="text-block text-block--step2">
                    <a href="#" class="header__button header__button--slider">
                    STEP 2
                    </a>
                    <h3 class="text-block__header">
                        <span>Morbi velit risus</span>          
                    </h3>
                    <p class="text-block__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                </article>
                </div>
            </li>
            <li class="bxslider2__item">
                <div class="bxslider__bg bxslider__bg3">
                    <article class="text-block">
                    <a href="#" class="header__button header__button--slider">
                    STEP 3
                    </a>
                    <h3 class="text-block__header">
                        <span>Sed leo enim,</span>
                        <span>condimentum</span>
                    </h3>
                    <p class="text-block__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </article>
                </div>
            </li>
            <li class="bxslider2__item">
                <div class="bxslider__bg bxslider__bg1">
                    <article class="text-block">
                    <a href="#" class="header__button header__button--slider">
                    STEP 1
                    </a>
                    <h3 class="text-block__header">
                        <span>Sed leo enim,</span>
                        <span>condimentum</span>
                    </h3>
                    <p class="text-block__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </article>
                </div>
            </li>           
        </ul> 
        <ul class="bxslider3">
            <li class="bxslider3__item">
                <div class="bxslider__bg bxslider__bg3">
                    <article class="text-block">
                    <a href="#" class="header__button header__button--slider">
                    STEP 3
                    </a>
                    <h3 class="text-block__header">
                        <span>Sed leo enim,</span>
                        <span>condimentum</span>
                    </h3>
                    <p class="text-block__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                </article>
                </div>
            </li>
            <li class="bxslider3__item">
                <div class="bxslider__bg bxslider__bg1">
                    <article class="text-block">
                    <a href="#" class="header__button header__button--slider">
                    STEP 1
                    </a>
                    <h3 class="text-block__header">
                        <span>Sed leo enim,</span>
                        <span>condimentum</span>
                    </h3>
                    <p class="text-block__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                </article>
                </div>
            <li class="bxslider3__item"> 
                <div class="bxslider__bg bxslider__bg2">   
                    <article class="text-block text-block--step2">
                    <a href="#" class="header__button header__button--slider">
                    STEP 2
                    </a>
                    <h3 class="text-block__header">
                        <span>Morbi velit risus</span>          
                    </h3>
                    <p class="text-block__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                </article>
                </div>
            </li>                    
        </ul> 
    </section>
</div>      
</section> 